.active-game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 25px;
}
.active-game-name {
    font-size: 19px;
    opacity: 0.25;
}