.modal-overlay {
    position: fixed;
    display: flex;
    place-items: center;;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
}
.modal-outer {
    margin: 0 auto;
}
.modal {
    border-radius: var(--border-radius-m);
    padding:35px 50px;
    background: var(--gradient-1);
    width: 425px;
}
.modal img {
    height: 190px;
}
.modal p {
    max-width: 100%;
    margin: 20px auto 30px auto;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button-wrapper .n-button {
    width: 160px;
}
.outer.primary {
    background-color: #890E28;
}
.outer.primary .n-button {
    color: #fff;
    background-color: #A2112F;
}
.outer.primary:hover .n-button {
    background-color: hsl(348, 81%, 40%);
}

