.create-new-game-container {
    display: flex;
    gap: 10px;
    margin: 50px auto 0 auto;
    padding: var(--padding-m);
    width: var(--player-width);
    background-color: var(--light-color-1);
    border-radius: var(--border-radius-l);
}

.cng-button {
    height: 45px;
    width: 450px;
    align-items: center;
    padding: var(--padding-m);
    background-color: var(--light-color-2);
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    border: none;
    cursor: pointer;
}
.cng-button:hover {
    background-color: var(--light-color-3);
}

.cng-input {
    width: 100%;
    margin-right: 0;
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    border: none;
    background-color: var(--light-color-2);
    font-size: var(--font-size-m);
}
.cng-input:focus {
    background-color: var(--light-color-3);
    outline: none;
}
.cng-input:focus::placeholder {
    color: transparent;
}