.flex {
    display: flex;
    gap: 10px;
}

h2 {
    font-size: var(--font-size-m);
    font-weight: 400;
    margin: 0 auto;
    color: #000;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.container {
    display: flex;
    gap: 10px;
}
.main-width {
    width: 500px;
}
.outer {
    display: flex;
    gap: 10px;
    padding: var(--padding-m);
    background-color: var(--light-color-1);
    border-radius: var(--border-radius-l);
}
.squere {
    aspect-ratio: 1 ;
}
.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 50px;
    background-color: var(--light-color-2);
    border-radius: var(--border-radius-m);
  }

.n-button {
    cursor: pointer;
    font-size: var(--font-size-m);
    padding: var(--padding-m);    
    min-height: 45px;
    border: none;
}
.n-button:hover {
    background-color: var(--light-color-4);
}
button:disabled {
    cursor:default;
}